.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em+0.75rem +2px);
    padding: 0.375rem 0.75;
    color: #493949;
    border-radius: 0.25rem;
}

.form-control:focus {
    color: firebrick;
    border-color: indigo;
    background-color: lavender;
}