.container {
    width: 100%;
    min-width: 992px;
}

.bg-withe {
    background-color: white;
}

.nav-link {
    display: block;
}

.header {
    font-size: 0.95rem;
    font-weight: 800;
}

.nav-item {
    display: inline;
}

.text-center {
    text-align: center;
}

.bg-dark {
    background-color: rgb(26, 25, 25);
}

.text-white {
    color: white;
}

.list-inline {
    list-style: none;
}